body{
    background: #e8e8e8;
}

.icon-block {
    padding: 0 15px;
}

#nav-mobile li {
    height:50px;
}

#nav-mobile li a{
    line-height: 52px;
}

#nav-mobile li a:hover{
    line-height: 52px;
    font-weight: 600;
}

.userd{
    color: #737373;
    background: #fff;
}

#user-img{
    margin-top: 8px;
    height: 45px;
    width: 45px;
}

#user-data,#user-data:hover,.userd:hover{
    background: #fff;
}

#logo-container{
    margin-top: -5px;
}
#deatil-tab{
    padding-left: 70px;    
    padding-right: 30px;
}