html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: #fff;
}


#logo-c {
    height: 120px;
    margin-bottom: 22px;
    font-size: 25px;
    line-height: 130px;
    text-align: center;
}

.activator{
    height: 200px;
}

p a{
    color: #006064;
}

@media only screen and (max-width: 992px) {
    header {
    padding-left: 0px;
}
}
